@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}

:root {
    --white-color: rgb(255, 255, 255);
    --e1-color: rgb(225, 225, 225);
    --blue-color: rgb(0, 0, 255);
    --red-color: rgb(255, 0, 0);
    --black-color: rgb(0, 0, 0);
}

body{
    font-family: "Poppins", sans-serif;
    text-transform: capitalize;
}

.to_do, .header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .header {
        background-color: #eee;
        width: 100%;
        margin-bottom: 40px;

        .title {
            font-size: 22px;
        }
    }
}

form {
    padding-bottom: 10px;
    display: flex;
    align-items: end;
    gap: 10px;

    .inputs {
        display: flex;
        gap: 20px;
        .input {
            width: 350px;
            height: 35px;
            border-radius: 4px;
            font-size: 20px;
            border: 1px solid var(--e1-color);
            padding-inline: 4px;
        }
    }
    .addTask {
        color: white;
        background-color: rgb(0, 0, 255);
        padding: 0 6px;
        font-size: 15px;
        border-radius: 3px;
        height: 35px;
        text-transform: uppercase;
        cursor: pointer;
        text-align: center;
    }
}
label{
    display: flex;
    flex-direction: column;
}

.tasks_content{
    width: 80%;
    margin: auto;
}
.to_do_boxes {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 40px;

    .to_do_box {
        background-color: #eee;
        border-radius: 3px;
        border: 1px solid var(--e1-color);
        
        .to_do_box_title{
            background-color: var(--e1-color);
            padding: 2px 4px;
        }
        .to_do_box_description{
            margin: 10px 0 10px 0;
            padding-inline: 4px;
            color: #777;
            overflow-wrap:break-word;
        }
    }
}

@media(max-width: 820px) {
    form .inputs {
        flex-direction: column;
    }
}
@media(max-width: 469px) {
    form {
        flex-direction: column;
    }
}

.controls_theme{
        width: 220px !important;
        background-color: rgb(211, 211, 211);
        height: 80vh;
        position: absolute;
        top: 50px;
        left: -220px;
        border: 1px solid rgb(119, 119, 119);
        padding-inline: 4px;
        transition: .5s ease-in-out;
    .gears img{
        width: 30px;
        position: absolute;
        right: -30px;
        background-color:  #d3d3d3;
        border: 1px solid #777777;
        top: 20px;
        cursor: pointer;
    }
    .header_controls{
        color: blue;
        font-size: 18px;
        text-align: center;
        margin-bottom: 20px;
    }
}

.controls_theme.active{
    left: 0;
}

.themes_title {
    font-size: 12px;
    padding-inline: 5px;
}
.change_theme{
    width: 100%;
    height: 40px;
    background-color: var(--e1-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    .white_blue, .dark_blue, .white_red, .dark_red {
        width: 20%;
        height: 100%;
        background-color: red;
        cursor: pointer;
    }
    .white_blue, .dark_blue, .white_red, .dark_red {
        display: flex;
        border: 1px solid #777;
        .theme_1 {
            width: 50%;
            height: 100%;
        }
        .theme_2 {
            width: 50%;
            height: 100%;
        }
    }
    .white_blue {
        .theme_1 {
            background-color: #ffffff;
        }
        .theme_2 {
            background-color: blue;
        }
    }
    .dark_blue {
        .theme_1 {
            background-color: #000000;
        }
        .theme_2 {
            background-color: blue;
        }
    }
    .white_red {
        .theme_1 {
            background-color: #ffffff;
        }
        .theme_2 {
            background-color: red;
        }
    }
    .dark_red {
        .theme_1 {
            background-color: #000000;
        }
        .theme_2 {
            background-color: red;
        }
    }
}