$white-color: rgb(255, 255, 255);
$e1-color: rgb(225, 225, 225);
$e3-color: rgb(238 238 238);;
$blue-color: rgb(0, 0, 255);
$red-color: rgb(255, 0, 0);
$black-color: rgb(0, 0, 0);
$rgb211-color: rgb(211, 211, 211);
$rgb219-color: rgb(119, 119, 119);

